/*
  Example configuration file for aNib: Another Node.js IRC Bot.

  - Specify each server as an object in the servers array.
  - A minimum requirement has a host, nick, and channels.
   -Options is optional and documentation for all options can be found at: 
      https://node-irc.readthedocs.org/en/latest/
  - Plugins are imported by name, so if the file is 'helloworld.js', then the plugin name will be 'helloworld' for activePlugins for a channel or serverPlugins for server wide. 
*/
var config = {
  global: {
    trigger: ''
  },
  servers: [
    {
      host: '',
      nick: '',
      options: {
        userName: 'aNib-Bot',
        realName: 'Another Node.js IRC Bot',
        password: '',
        port: undefined,
        secure: false, 
        selfSigned: false, 
        debug: false, 
        showErrors: false
      },
      channels: [{
        channelName: '#',
        channelPlugins: []
      }],
      serverPlugins: []
    }
  ]
}

module.exports = config;
